

.heading{
    text-align: center;
    padding:10px;
    font-weight: bold;
}

.img{

    margin-top:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.div2{
    
}
.recipes{
    padding-top:100px;
    padding-bottom: 100px;
    text-align: center;
    text-decoration: overline;
    
}
#description{
    line-height:8px;
    font-size: 10px;
    padding:15px;
   
}
ul{
    padding:65px;
    background-color: lightgray;
    margin:50px;
    display:flex;
    flex-direction: column;
    flex:1 1 auto;

}
.container li{
    text-decoration: none;
    list-style: none;
}
.container a{
    text-decoration: none;
    color:black;
    display: inline-block;
    padding:10px;
}
.container a:hover{
    color:white;
    background-color: black;

}
.container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
